body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.panel {
    box-sizing: border-box;
    padding: 4px;
    min-height: 30px;
}

.group {
    padding: 4px;
    box-sizing: border-box;
    min-height: 30px;
}

.group.group-columns {

    display: flex;
    flex-direction: row;
}

.group.group-columns .panel {
    order: 1;
    flex-grow: 1;
}